//colors
$light-purple: hsl(260, 100%, 95%);
$medium-purple: hsl(264, 82%, 80%);
$dark-purple: hsl(263, 55%, 52%);
$white: hsl(0, 0%, 100%);
$gray-100: hsl(214, 17%, 92%);
$gray-200: hsl(0, 0%, 81%);
$gray-400: hsl(224, 10%, 45%);
$dark-gray: hsl(217, 19%, 35%);
$dark-blue: hsl(217, 30%, 14%);
$black: hsl(0, 0%, 7%);

//fonts
$body-font: "Barlow Semi Condensed", sans-serif;
$fs-global: 0.8125rem;
$fs-small: 0.6875rem;
$fs-big: 1.25rem;